USE [master]
GO
/****** Object:  Database [NGANHANG]    Script Date: 1/6/2022 5:43:38 PM ******/
CREATE DATABASE [NGANHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NGANHANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLOFFICAL\MSSQL\DATA\NGANHANG.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NGANHANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLOFFICAL\MSSQL\DATA\NGANHANG_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NGANHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NGANHANG]
GO
/****** Object:  User [HTKN]    Script Date: 1/6/2022 5:43:38 PM ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 1/6/2022 5:43:38 PM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
/****** Object:  DatabaseRole [MSmerge_E47CBD45ED4747F79EB6C730FB1F9C00]    Script Date: 1/6/2022 5:43:38 PM ******/
CREATE ROLE [MSmerge_E47CBD45ED4747F79EB6C730FB1F9C00]
GO
/****** Object:  DatabaseRole [MSmerge_89E61237EDAC4C4E93396B3662229324]    Script Date: 1/6/2022 5:43:38 PM ******/
CREATE ROLE [MSmerge_89E61237EDAC4C4E93396B3662229324]
GO
/****** Object:  DatabaseRole [MSmerge_3C7212D9652545DEBA30E7C4ED28AE1A]    Script Date: 1/6/2022 5:43:38 PM ******/
CREATE ROLE [MSmerge_3C7212D9652545DEBA30E7C4ED28AE1A]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_E47CBD45ED4747F79EB6C730FB1F9C00]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_89E61237EDAC4C4E93396B3662229324]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_3C7212D9652545DEBA30E7C4ED28AE1A]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 1/6/2022 5:43:38 PM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  Table [dbo].[ChiNhanh]    Script Date: 1/6/2022 5:43:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanh](
	[MACN] [nchar](10) NOT NULL,
	[TENCN] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[SoDT] [nvarchar](15) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_ChiNhanh] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Get_ChiNhanh]    Script Date: 1/6/2022 5:43:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Get_ChiNhanh]
AS
SELECT        PUBS.description AS TENCHINHANH, SUBS.subscriber_server AS TENSERVER, dbo.ChiNhanh.MACN
FROM            dbo.sysmergepublications AS PUBS INNER JOIN
                         dbo.sysmergesubscriptions AS SUBS ON PUBS.pubid = SUBS.pubid AND PUBS.publisher <> SUBS.subscriber_server INNER JOIN
                         dbo.ChiNhanh ON PUBS.description = dbo.ChiNhanh.TENCN
WHERE        (PUBS.description <> 'Chi nhánh thông tin khách hàng')
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 1/6/2022 5:43:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MANV] [nchar](10) NOT NULL,
	[HO] [nvarchar](40) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[PHAI] [nvarchar](3) NULL,
	[SODT] [nvarchar](15) NOT NULL,
	[MACN] [nchar](10) NULL,
	[TrangThaiXoa] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_NHANVIEN]    Script Date: 1/6/2022 5:43:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE VIEW [dbo].[V_NHANVIEN]
AS
   SELECT  MANV, HO, TEN, HO + ' ' + TEN AS HOTEN
FROM dbo.NHANVIEN

GO
/****** Object:  Table [dbo].[GD_CHUYENTIEN]    Script Date: 1/6/2022 5:43:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_CHUYENTIEN](
	[MAGD] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SOTK_CHUYEN] [nchar](9) NOT NULL,
	[NGAYGD] [datetime] NOT NULL,
	[SOTIEN] [money] NOT NULL,
	[SOTK_NHAN] [nchar](9) NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GD_CHUYENTIEN] PRIMARY KEY CLUSTERED 
(
	[MAGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GD_GOIRUT]    Script Date: 1/6/2022 5:43:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_GOIRUT](
	[MAGD] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SOTK] [nchar](9) NOT NULL,
	[LOAIGD] [nchar](2) NOT NULL,
	[NGAYGD] [datetime] NOT NULL,
	[SOTIEN] [money] NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GD_GOIRUT] PRIMARY KEY CLUSTERED 
(
	[MAGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 1/6/2022 5:43:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[CMND] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[PHAI] [nvarchar](3) NULL,
	[NGAYCAP] [date] NOT NULL,
	[SODT] [nvarchar](15) NOT NULL,
	[MACN] [nchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[TRANGTHAIXOA] [int] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 1/6/2022 5:43:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[SOTK] [nchar](9) NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[SODU] [money] NULL,
	[MACN] [nchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[NgayMoTK] [date] NULL,
	[TRANGTHAIXOA] [int] NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[SOTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiNhanh] ([MACN], [TENCN], [DIACHI], [SoDT], [rowguid]) VALUES (N'CN1       ', N'Chi nhánh Bến Thành', N'211 Lê Lợi, Quận 1, TPHCM', N'..', N'4b7a608c-034e-ec11-ae92-ccb0daf40af8')
INSERT [dbo].[ChiNhanh] ([MACN], [TENCN], [DIACHI], [SoDT], [rowguid]) VALUES (N'CN2       ', N'Chi nhánh Tân Định', N'234 Hai Bà Trưng, phường Đakao, Quận 1, TPHCM', N'...', N'4c7a608c-034e-ec11-ae92-ccb0daf40af8')
GO
SET IDENTITY_INSERT [dbo].[GD_CHUYENTIEN] ON 

INSERT [dbo].[GD_CHUYENTIEN] ([MAGD], [SOTK_CHUYEN], [NGAYGD], [SOTIEN], [SOTK_NHAN], [MANV], [rowguid]) VALUES (1, N'111      ', CAST(N'2021-12-12T00:00:00.000' AS DateTime), 100.0000, N'113      ', N'1         ', N'84b37bd4-f35c-ec11-ae94-ccb0daf40af8')
INSERT [dbo].[GD_CHUYENTIEN] ([MAGD], [SOTK_CHUYEN], [NGAYGD], [SOTIEN], [SOTK_NHAN], [MANV], [rowguid]) VALUES (2, N'111      ', CAST(N'2021-12-10T00:00:00.000' AS DateTime), 1000.0000, N'113      ', N'1         ', N'b1c5118d-0b5d-ec11-ae94-ccb0daf40af8')
INSERT [dbo].[GD_CHUYENTIEN] ([MAGD], [SOTK_CHUYEN], [NGAYGD], [SOTIEN], [SOTK_NHAN], [MANV], [rowguid]) VALUES (3, N'111      ', CAST(N'2020-12-20T00:00:00.000' AS DateTime), 999999999.0000, N'123      ', N'1         ', N'c270c893-6762-ec11-ae9a-ccb0daf40af8')
SET IDENTITY_INSERT [dbo].[GD_CHUYENTIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[GD_GOIRUT] ON 

INSERT [dbo].[GD_GOIRUT] ([MAGD], [SOTK], [LOAIGD], [NGAYGD], [SOTIEN], [MANV], [rowguid]) VALUES (2002, N'111      ', N'GT', CAST(N'2021-12-18T16:27:33.230' AS DateTime), 111.0000, N'1         ', N'65e02cba-e45f-ec11-ae99-ccb0daf40af8')
INSERT [dbo].[GD_GOIRUT] ([MAGD], [SOTK], [LOAIGD], [NGAYGD], [SOTIEN], [MANV], [rowguid]) VALUES (2003, N'111      ', N'GT', CAST(N'2021-12-18T16:48:04.933' AS DateTime), 111.0000, N'1         ', N'd2e35398-e75f-ec11-ae99-ccb0daf40af8')
INSERT [dbo].[GD_GOIRUT] ([MAGD], [SOTK], [LOAIGD], [NGAYGD], [SOTIEN], [MANV], [rowguid]) VALUES (2004, N'111      ', N'GT', CAST(N'2021-12-18T16:48:36.483' AS DateTime), 11111.0000, N'1         ', N'730822ab-e75f-ec11-ae99-ccb0daf40af8')
SET IDENTITY_INSERT [dbo].[GD_GOIRUT] OFF
GO
INSERT [dbo].[KhachHang] ([CMND], [HO], [TEN], [DIACHI], [PHAI], [NGAYCAP], [SODT], [MACN], [rowguid], [TRANGTHAIXOA]) VALUES (N'1         ', N'Le', N'Khanh', N'sss', N'Nam', CAST(N'2021-12-12' AS Date), N'000', N'CN1       ', N'73095c83-c75c-ec11-ae94-ccb0daf40af8', NULL)
INSERT [dbo].[KhachHang] ([CMND], [HO], [TEN], [DIACHI], [PHAI], [NGAYCAP], [SODT], [MACN], [rowguid], [TRANGTHAIXOA]) VALUES (N'1231      ', N'teest', N'tét', N'â', N'Nữ', CAST(N'2021-12-17' AS Date), N'123', N'CN1       ', N'e3215bf7-2e5f-ec11-ae95-ccb0daf40af8', 0)
INSERT [dbo].[KhachHang] ([CMND], [HO], [TEN], [DIACHI], [PHAI], [NGAYCAP], [SODT], [MACN], [rowguid], [TRANGTHAIXOA]) VALUES (N'123321    ', N'Hoàng', N'Lâm', N'HaNoi', N'Nam', CAST(N'2021-10-10' AS Date), N'123123123', N'CN2       ', N'd440e1ce-ab60-ec11-ae99-ccb0daf40af8', 0)
GO
INSERT [dbo].[NhanVien] ([MANV], [HO], [TEN], [DIACHI], [PHAI], [SODT], [MACN], [TrangThaiXoa], [rowguid]) VALUES (N'1         ', N'LE', N'KHANH', N'DAKLAK', N'NAM', N'0336103000', N'CN1       ', 0, N'72168f88-9a4e-ec11-ae92-ccb0daf40af8')
INSERT [dbo].[NhanVien] ([MANV], [HO], [TEN], [DIACHI], [PHAI], [SODT], [MACN], [TrangThaiXoa], [rowguid]) VALUES (N'100       ', N'Công', N'Ty', N'HCM', N'Nam', N'11111', N'CN1       ', 0, N'feab802e-b660-ec11-ae99-ccb0daf40af8')
INSERT [dbo].[NhanVien] ([MANV], [HO], [TEN], [DIACHI], [PHAI], [SODT], [MACN], [TrangThaiXoa], [rowguid]) VALUES (N'11        ', N'Test', N'test', N'123', N'Nam', N'123', N'CN1       ', 0, N'cbd9c6d0-2e5f-ec11-ae95-ccb0daf40af8')
GO
INSERT [dbo].[TaiKhoan] ([SOTK], [CMND], [SODU], [MACN], [rowguid], [NgayMoTK], [TRANGTHAIXOA]) VALUES (N'111      ', N'1         ', 3096.0000, N'CN1       ', N'133a7d90-c75c-ec11-ae94-ccb0daf40af8', CAST(N'2021-12-12' AS Date), 0)
INSERT [dbo].[TaiKhoan] ([SOTK], [CMND], [SODU], [MACN], [rowguid], [NgayMoTK], [TRANGTHAIXOA]) VALUES (N'12121    ', N'1         ', 12121.0000, N'CN1       ', N'9746ece3-0e62-ec11-ae9a-ccb0daf40af8', CAST(N'2021-12-21' AS Date), 0)
INSERT [dbo].[TaiKhoan] ([SOTK], [CMND], [SODU], [MACN], [rowguid], [NgayMoTK], [TRANGTHAIXOA]) VALUES (N'123      ', N'2         ', 10134720.0000, N'CN1       ', N'eb5d95bf-ca5c-ec11-ae94-ccb0daf40af8', CAST(N'2021-12-14' AS Date), 0)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_ChiNhanh]    Script Date: 1/6/2022 5:43:38 PM ******/
ALTER TABLE [dbo].[ChiNhanh] ADD  CONSTRAINT [UK_ChiNhanh] UNIQUE NONCLUSTERED 
(
	[TENCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_581577110]    Script Date: 1/6/2022 5:43:38 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_581577110] ON [dbo].[ChiNhanh]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_693577509]    Script Date: 1/6/2022 5:43:38 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_693577509] ON [dbo].[GD_CHUYENTIEN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_757577737]    Script Date: 1/6/2022 5:43:38 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_757577737] ON [dbo].[GD_GOIRUT]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_661577395]    Script Date: 1/6/2022 5:43:38 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_661577395] ON [dbo].[KhachHang]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_629577281]    Script Date: 1/6/2022 5:43:38 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_629577281] ON [dbo].[NhanVien]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_725577623]    Script Date: 1/6/2022 5:43:38 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_725577623] ON [dbo].[TaiKhoan]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiNhanh] ADD  CONSTRAINT [MSmerge_df_rowguid_5D893ED2AF48409498A386A976010144]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] ADD  CONSTRAINT [DF_GD_CHUYENTIEN_NGAYGD]  DEFAULT (getdate()) FOR [NGAYGD]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_FED464DEC4404E7EA19AAE3FDC2F6556]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GD_GOIRUT] ADD  CONSTRAINT [DF_GD_GOIRUT_NGAYGD]  DEFAULT (getdate()) FOR [NGAYGD]
GO
ALTER TABLE [dbo].[GD_GOIRUT] ADD  CONSTRAINT [DF_GD_GOIRUT_SOTIEN]  DEFAULT ((100000)) FOR [SOTIEN]
GO
ALTER TABLE [dbo].[GD_GOIRUT] ADD  CONSTRAINT [MSmerge_df_rowguid_47BBF0C9706D499482C9F38095A742BB]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [MSmerge_df_rowguid_73338B7736E349E18B80BC8C3EF4F4B7]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [MSmerge_df_rowguid_468088910B8C495EB15C95530B5D2D2F]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((0)) FOR [SODU]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [MSmerge_df_rowguid_A2710E870CE14E5D840EBAFAD847C31A]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_CHUYENTIEN_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_CHUYENTIEN_NhanVien]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [FK_GD_GOIRUT_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [FK_GD_GOIRUT_NhanVien]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [FK_GD_GOIRUT_TaiKhoan] FOREIGN KEY([SOTK])
REFERENCES [dbo].[TaiKhoan] ([SOTK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [FK_GD_GOIRUT_TaiKhoan]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_ChiNhanh]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChiNhanh]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_ChiNhanh]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_KhachHang] FOREIGN KEY([CMND])
REFERENCES [dbo].[KhachHang] ([CMND])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_KhachHang]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [CK_GD_CHUYENTIEN] CHECK  (([SOTIEN]>(0)))
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [CK_GD_CHUYENTIEN]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_C8D78CD4_605A_4BB9_B1D3_5F07669D17C4] CHECK NOT FOR REPLICATION (([MAGD]>=(1) AND [MAGD]<=(1001) OR [MAGD]>(1001) AND [MAGD]<=(2001)))
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [repl_identity_range_C8D78CD4_605A_4BB9_B1D3_5F07669D17C4]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [CK_LOAIGD] CHECK  (([LOAIGD]='RT' OR [LOAIGD]='GT'))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [CK_LOAIGD]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [CK_SOTIEN] CHECK  (([SOTIEN]>=(0)))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [CK_SOTIEN]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_60CD41D3_87FF_4A27_AC5E_D3F44829B8DB] CHECK NOT FOR REPLICATION (([MAGD]>=(1) AND [MAGD]<=(1001) OR [MAGD]>(1001) AND [MAGD]<=(2001)))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [repl_identity_range_60CD41D3_87FF_4A27_AC5E_D3F44829B8DB]
GO
/****** Object:  StoredProcedure [dbo].[SP_CHUYENCHINHANH_NV]    Script Date: 1/6/2022 5:43:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CHUYENCHINHANH_NV] @MANV nchar(10), @MACN nchar(10)
AS
DECLARE @LGNAME VARCHAR(50)
DECLARE @USERNAME VARCHAR(50)
SET XACT_ABORT ON;
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
BEGIN TRY
	BEGIN TRAN
		IF EXISTS(SELECT * FROM LINK1.NganHang.dbo.NhanVien WHERE MANV = @MANV)
		BEGIN
			UPDATE LINK1.NganHang.dbo.NhanVien
			SET TrangThaiXoa = 0
			WHERE MANV = @MANV;
		END
		ELSE
		BEGIN
			INSERT INTO LINK1.NganHang.dbo.NhanVien (MANV, HO, TEN, DIACHI, PHAI, SODT, MACN, TRANGTHAIXOA)
			SELECT MANV, HO, TEN, DIACHI, PHAI, SODT, MACN = @MACN, TRANGTHAIXOA
			FROM dbo.NhanVien
			WHERE MANV = @MANV;
		END
		IF EXISTS(SELECT 1 FROM NhanVien
				WHERE NhanVien.MANV = @MANV AND				
				(EXISTS(SELECT 1 FROM GD_GOIRUT WHERE GD_GOIRUT.MANV = NhanVien.MANV) 
					OR EXISTS(SELECT MAGD FROM GD_CHUYENTIEN WHERE GD_CHUYENTIEN.MANV = NhanVien.MANV)))
		BEGIN 
			UPDATE dbo.NhanVien
			SET TrangThaiXoa = 1
			WHERE MANV = @MANV;
		END
		ELSE
		BEGIN
			DELETE FROM NhanVien Where NhanVien.MANV = @MANV
		END
		COMMIT TRAN;
		IF EXISTS(SELECT SUSER_SNAME(sid) FROM sys.sysusers WHERE name = CAST(@MANV AS NVARCHAR))
		BEGIN
		SET @LGNAME = CAST((SELECT SUSER_SNAME(sid) FROM sys.sysusers WHERE name = CAST(@MANV AS NVARCHAR)) AS VARCHAR(50))
		SET @USERNAME = CAST(@MANV AS VARCHAR(50))
		EXEC SP_DROPUSER @USERNAME;
		EXEC SP_DROPLOGIN  @LGNAME;
		END
END TRY
BEGIN CATCH
	IF (@@TRANCOUNT > 0)
	BEGIN
		ROLLBACK TRAN;
	END;
	THROW;
END CATCH

GO
/****** Object:  StoredProcedure [dbo].[SP_CHUYENTIEN]    Script Date: 1/6/2022 5:43:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHUYENTIEN]
(
   @SOTK_CHUYEN nchar(9),
  @SOTK_NHAN nchar(9),
  @SOTIEN money,
  @NGAYGD DATETIME,
  @MANV nchar(10),
  @MSG nvarchar(200) OUTPUT
  )
AS
BEGIN
 SeT XACT_ABORT ON
 
 BEGIN TRANSACTION;
 IF EXISTS(SELECT 1 FROM dbo.TaiKhoan WHERE dbo.TaiKhoan.SOTK =  @SOTK_CHUYEN AND dbo.TaiKhoan.SODU < @SOTIEN)
	begin
			  SET @MSG = N'GIAO DỊCH THỰC HIỆN KHÔNG THÀNH CÔNG';
	  RETURN 
	end
 
	   

      BEGIN TRY
	  
	   UPDATE TAIKHOAN
	   SET SODU = SODU - @SOTIEN
	   WHERE SOTK= @SOTK_CHUYEN
	   
	   UPDATE TAIKHOAN
	   SET SODU=SODU + @SOTIEN
	   WHERE SOTK=@SOTK_NHAN

	   INSERT INTO GD_CHUYENTIEN (SOTK_CHUYEN,SOTK_NHAN,SOTIEN,NGAYGD,MANV)
	   VALUES (@SOTK_CHUYEN, @SOTK_NHAN , @SOTIEN, @NGAYGD,@MANV)

	   COMMIT TRANSACTION;
	   SET @MSG = N'GIAO DỊCH THỰC HIỆN THÀNH CÔNG';
	 END TRY
	 BEGIN CATCH
	 ROLLBACK
	 SET @MSG =N'LỖI; '+ ERROR_MESSAGE()
	 END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 1/6/2022 5:43:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_DANGNHAP] @TENLOGIN NVARCHAR (50)
AS
BEGIN
DECLARE @TENUSER NVARCHAR(50)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
	SELECT USERNAME = @TENUSER, 
	HOTEN = (SELECT HO+ ' '+ TEN FROM NhanVien  WHERE MANV = @TENUSER ),
	ROLENAME=NAME
	FROM sys.sysusers 
	WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
                   WHERE MEMBERUID= (SELECT UID FROM sys.sysusers 
                                      WHERE NAME=@TENUSER))
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GDGOIRUT]    Script Date: 1/6/2022 5:43:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GDGOIRUT] @SOTIEN MONEY,
@TYPE nchar(2),
@SOTK nchar(9)
AS
DECLARE @USERNAME NCHAR(50);
SET @USERNAME = ( SELECT CURRENT_USER );
SET XACT_ABORT ON;
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;

BEGIN TRY
	BEGIN TRAN
	IF(@TYPE = 'RT')
		IF EXISTS(SELECT 1 FROM dbo.TaiKhoan WHERE dbo.TaiKhoan.SOTK =  @SOTK AND dbo.TaiKhoan.SODU >= @SOTIEN)
			BEGIN
				UPDATE dbo.TaiKhoan SET SODU = SODU - @SOTIEN WHERE SOTK = @SOTK
				INSERT INTO dbo.GD_GOIRUT (SOTK, LOAIGD, SOTIEN, MANV) VALUES (@SOTK, @TYPE, @SOTIEN, @USERNAME);
			END
			

	IF(@TYPE = 'GT')
		IF EXISTS(SELECT 1 FROM dbo.TaiKhoan WHERE dbo.TaiKhoan.SOTK =  @SOTK)
			BEGIN
				UPDATE dbo.TaiKhoan SET SODU = SODU + @SOTIEN WHERE SOTK = @SOTK
				INSERT INTO dbo.GD_GOIRUT (SOTK, LOAIGD, SOTIEN, MANV) VALUES (@SOTK, @TYPE, @SOTIEN, @USERNAME);
			END
	COMMIT TRAN;
END TRY
BEGIN CATCH
	BEGIN
		ROLLBACK TRAN;
	END;
	THROW;
END CATCH

GO
/****** Object:  StoredProcedure [dbo].[sp_report_tai_khoan]    Script Date: 1/6/2022 5:43:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_report_tai_khoan]
@MACN nchar(10),
@NgayBatDau date,
@NgayKetThuc date
AS 
begin
	select SOTK from TaiKhoan
	where @MACN = TaiKhoan.MACN and (TaiKhoan.NgayMoTK >= @NgayBatDau and TaiKhoan.NgayMoTK <= @NgayKetThuc)
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_report_tai_khoan_tat_ca]    Script Date: 1/6/2022 5:43:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[sp_report_tai_khoan_tat_ca]
	@from DATETIME,
	@to DATETIME
AS
BEGIN
  SET NOCOUNT ON;  
    IF 1=0 BEGIN  
        SET FMTONLY OFF  
    END  
	/*IF OBJECT_ID('tempdb..#tmp') IS NOT NULL DROP TABLE #tmp*/
	BEGIN
		SELECT * INTO #TEMP2 FROM (
		   SELECT
				SOTK, TK.CMND, KH.HO, KH.TEN, SODU, TK.NGAYMOTK, TK.MACN
		   FROM
			TAIKHOAN TK
			INNER JOIN
			LINK2.NGANHANG.dbo.KhachHang KH
		    ON
			TK.CMND = KH.CMND) TK;
            
		SELECT SOTK, CMND, HO, TEN, SODU, NGAYMOTK, MACN FROM #TEMP2 A WHERE (A.NGAYMOTK>=@from AND A.NGAYMOTK<=@to) ORDER BY A.NGAYMOTK;
	END;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORTKHACHHANG]    Script Date: 1/6/2022 5:43:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_REPORTKHACHHANG]
 @MACN Nchar(10)
AS
BEGIN
SELECT CMND,HOTEN = KhachHang.HO +' '+ KhachHang.TEN, DIACHI, PHAI FROM KhachHang
WHERE @MACN = KhachHang.MACN
ORDER BY KhachHang.TEN, KhachHang.HO 
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_SAOKETAIKHOAN]    Script Date: 1/6/2022 5:43:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SAOKETAIKHOAN]
	@soTK NCHAR(9),
	@from DATETIME,
	@to DATETIME
AS
BEGIN
  SET NOCOUNT ON;  
    IF 1=0 BEGIN  
        SET FMTONLY OFF  
    END  
	/*IF OBJECT_ID('tempdb..#tmp') IS NOT NULL DROP TABLE #tmp*/
	DECLARE @soDu MONEY;
	IF EXISTS(SELECT SOTK FROM TAIKHOAN WHERE SOTK=@soTK)
	BEGIN 
		IF EXISTS(SELECT 1 FROM LINK1.NGANHANG.dbo.GD_CHUYENTIEN WHERE SOTK_NHAN = @soTK OR SOTK_CHUYEN = @soTK)
			BEGIN
			SELECT @soDu=SODU FROM TAIKHOAN WHERE SOTK=@soTK;
			SELECT * INTO #tmp FROM
			(
			SELECT SOTIENBIENDONG= CASE WHEN LOAIGD='GT' THEN SOTIEN ELSE -SOTIEN END,NGAYGD,LOAIGD FROM GD_GOIRUT WHERE SOTK=@soTK
			UNION
			SELECT SOTIENBIENDONG= CASE WHEN LOAIGD='GT' THEN SOTIEN ELSE -SOTIEN END,NGAYGD,LOAIGD FROM LINK1.NGANHANG.dbo.GD_GOIRUT WHERE SOTK=@soTK
			UNION
			SELECT SOTIENBIENDONG=CASE WHEN SOTK_CHUYEN=@soTK THEN -SOTIEN ELSE SOTIEN END,NGAYGD,'CT' LOAIGD FROM GD_CHUYENTIEN WHERE SOTK_CHUYEN=@soTK OR SOTK_NHAN=@soTK
			UNION
			SELECT SOTIENBIENDONG=CASE WHEN SOTK_NHAN=@soTK THEN SOTIEN ELSE -SOTIEN END,NGAYGD,'CT' LOAIGD FROM LINK1.NGANHANG.dbo.GD_CHUYENTIEN WHERE SOTK_NHAN=@soTK OR SOTK_CHUYEN=@soTK
			) GD;
				
			SELECT *,(SODUDAU+SOTIEN) SODUCUOI FROM(
			SELECT NGAYGD,LOAIGD,SOTIENBIENDONG AS SOTIEN,(@soDu-(SELECT SUM(SOTIENBIENDONG) FROM #tmp B WHERE B.NGAYGD>=A.NGAYGD)) SODUDAU  FROM #tmp A  WHERE NGAYGD>=@from AND NGAYGD<=@to
			) REC ORDER BY NGAYGD;
		END;
		ELSE
		BEGIN
		SELECT @soDu=SODU FROM TAIKHOAN WHERE SOTK=@soTK;
		SELECT * INTO #tmp11 FROM
		(
		SELECT SOTIENBIENDONG= CASE WHEN LOAIGD='GT' THEN SOTIEN ELSE -SOTIEN END,NGAYGD,LOAIGD FROM GD_GOIRUT WHERE SOTK=@soTK
		UNION
		SELECT SOTIENBIENDONG= CASE WHEN LOAIGD='GT' THEN SOTIEN ELSE -SOTIEN END,NGAYGD,LOAIGD FROM LINK1.NGANHANG.dbo.GD_GOIRUT WHERE SOTK=@soTK
		UNION
		SELECT SOTIENBIENDONG=CASE WHEN SOTK_CHUYEN=@soTK THEN -SOTIEN ELSE SOTIEN END,NGAYGD,'CT' LOAIGD FROM GD_CHUYENTIEN WHERE SOTK_CHUYEN=@soTK OR SOTK_NHAN=@soTK
		) GD;
			
		SELECT *,(SODUDAU+SOTIEN) SODUCUOI FROM(
		SELECT NGAYGD,LOAIGD,SOTIENBIENDONG AS SOTIEN,(@soDu-(SELECT SUM(SOTIENBIENDONG) FROM #tmp11 B WHERE B.NGAYGD>=A.NGAYGD)) SODUDAU  FROM #tmp11 A  WHERE NGAYGD>=@from AND NGAYGD<=@to
		) REC ORDER BY NGAYGD;
		END;
	END;
	ELSE  
	BEGIN
		RAISERROR('So tai khoan khong ton tai',16,1); 
		SELECT @soDu=SODU FROM TAIKHOAN WHERE SOTK=@soTK;
		SELECT * INTO #tmp3 FROM
		(
		SELECT SOTIENBIENDONG= CASE WHEN LOAIGD='GT' THEN SOTIEN ELSE -SOTIEN END,NGAYGD,LOAIGD FROM GD_GOIRUT WHERE SOTK=@soTK
		UNION
		SELECT SOTIENBIENDONG=CASE WHEN SOTK_CHUYEN=@soTK THEN -SOTIEN ELSE SOTIEN END,NGAYGD,'CT' LOAIGD FROM GD_CHUYENTIEN WHERE SOTK_CHUYEN=@soTK OR SOTK_NHAN=@soTK
		) GD;

	
		SELECT *,(SODUDAU+SOTIEN) SODUCUOI FROM(
		SELECT NGAYGD,LOAIGD,SOTIENBIENDONG AS SOTIEN,(@soDu-(SELECT SUM(SOTIENBIENDONG) FROM #tmp3 B WHERE B.NGAYGD>=A.NGAYGD)) SODUDAU  FROM #tmp3 A  WHERE NGAYGD>=@from AND NGAYGD<=@to
		) REC ORDER BY NGAYGD DESC;
	END;
END


GO
/****** Object:  StoredProcedure [dbo].[SP_TAOLOGIN]    Script Date: 1/6/2022 5:43:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAOLOGIN]
  @LGNAME VARCHAR(50),
  @PASS VARCHAR(50),
  @USERNAME VARCHAR(50),
  @ROLE VARCHAR(50)
AS
  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'NGANHANG'
  IF (@RET =1)  -- LOGIN NAME BI TRUNG
     RETURN 1
 
  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
  IF (@RET =1)  -- USER  NAME BI TRUNG
  BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RETURN 2
  END
  EXEC sp_addrolemember @ROLE, @USERNAME
  IF @ROLE= 'NGANHANG' OR @ROLE= 'CHINHANH'
  BEGIN 
    EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
    EXEC sp_addsrvrolemember @LGNAME, 'ProcessAdmin'
  END
RETURN 0  -- THANH CONG

GO
/****** Object:  StoredProcedure [dbo].[SP_THONGKETK]    Script Date: 1/6/2022 5:43:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_THONGKETK]
	@maCN nchar(10),
	@from DATETIME,
	@to DATETIME
AS
BEGIN
  SET NOCOUNT ON;  
    IF 1=0 BEGIN  
        SET FMTONLY OFF  
    END  
	/*IF OBJECT_ID('tempdb..#tmp') IS NOT NULL DROP TABLE #tmp*/
	BEGIN
		SELECT * INTO #TEMP2 FROM (
		SELECT SOTK, TK.CMND, KH.HO, KH.TEN, SODU, TK.NGAYMOTK, TK.MACN FROM TAIKHOAN TK INNER JOIN LINK2.NGANHANG.dbo.KhachHang KH ON TK.CMND = KH.CMND AND TK.MACN = @maCN) TK;
		SELECT SOTK, CMND, HO, TEN, SODU, NGAYMOTK FROM #TEMP2 A WHERE (A.MACN = @maCN AND A.NGAYMOTK>=@from AND A.NGAYMOTK<=@to) ORDER BY A.NGAYMOTK;
	END;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_TimNV]    Script Date: 1/6/2022 5:43:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_TimNV]
  @X INT
AS
 DECLARE @MACN NCHAR(10), @HO nvarchar(50), @TEN nvarchar(10)
 IF  exists(select MANV from  dbo.NHANVIEN  where MANV =@X)
 BEGIN
   	SELECT TENCN= (SELECT TENCN FROM dbo.CHINHANH),  HO, TEN 
   	FROM NHANVIEN WHERE MANV=@X
 END
 ELSE
  IF  exists(select MANV from  LINK1.NGANHANG.dbo.NHANVIEN  where MANV =@X)
  BEGIN
    SELECT  @MACN= MACN,  @HO=HO, @TEN=TEN 
   	    FROM LINK0.NGANHANG.dbo.NHANVIEN WHERE MANV=@X
   	SELECT  TENCN=TENCN,  HO=@HO, TEN =@TEN
   	 FROM LINK0.NGANHANG.dbo.CHINHANH  WHERE MACN=@MACN
   	                  
  END
  ELSE  -- không có nv
     raiserror ( 'Ma nhan vien ban tim khong co', 16, 1)
GO
/****** Object:  StoredProcedure [dbo].[Xoa_Login]    Script Date: 1/6/2022 5:43:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Xoa_Login]
  @LGNAME VARCHAR(50),
  @USRNAME VARCHAR(50)
  
AS
  EXEC SP_DROPUSER @USRNAME
  EXEC SP_DROPLOGIN @LGNAME
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'‘GT’ : gởi tiền vào TK , ‘RT’ : rút tiền khỏi TK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GD_GOIRUT', @level2type=N'COLUMN',@level2name=N'LOAIGD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "PUBS"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 322
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SUBS"
            Begin Extent = 
               Top = 6
               Left = 360
               Bottom = 136
               Right = 610
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ChiNhanh"
            Begin Extent = 
               Top = 6
               Left = 648
               Bottom = 136
               Right = 818
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Get_ChiNhanh'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Get_ChiNhanh'
GO
USE [master]
GO
